node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.DS_Store
.git
.gitignore
coverage
client/node_modules
server/node_modules
client/dist
server/dist
server/public
